'scopeName': 'source.syslog-ng'
'name': 'syslog-ng'
'fileTypes': ['conf']
'patterns': [
  {
      'match': '^[\\s]*(@version|@include|@define|@module|options|source|destination|filter|parser|rewrite|template|log|flags)[\\s|\\(]*([a-z_-]*)'
      'captures':
          '1':
            # Top level statements
            'name': 'keyword.control.syslog-ng'
          '2':
            # Top level statement names
            'name': 'keyword.other.special-method.syslog-ng'
  }
  {
      'match': '(amqp|eventlog|file|graphite|internal|logstore|mongodb|network|nodejs|pacct|pipe|program|redis|riemann|smtp|snmp|sql|stomp|sun-stream|syslog|system|systemd-journal|systemd-syslog|unix-dgram|unix-stream|usertty)'
      'captures':
          '1':
            # Driver statements
            'name': 'keyword.control.syslog-ng'
  }
  {
    'match': '^\\s*#.*$'
    'name': 'comment.block.syslog-ng'
  }
  {
    'begin': '"'
    'end': '"'
    'name': 'string.quoted.double.syslog-ng'
  }
]
